<li class="tweet">
  <img class="tweet-image" src="<%= status.user.profile_image_url %>"/>
  <div class="tweet-content">
    <span class="tweet-screen-name">
      <%= status.user.screen_name %>
      <span class="tweet-name">
	    <%= status.user.name %>
      </span>
    </span>
    <div class="tweet-text"><%= status.text %></div>
    <div class="tweet-time">
      <% if (typeof time !== "undefined") {%>
      <%= time/1000 %>秒
      <% } else { %>
      &nbsp;
      <% } %>
    </div>
  </div>
  <hr class="clear tweet-hr"></hr>
</li>
